---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <main
    class="flex h-screen flex-col items-center justify-center bg-[#080225] p-4 text-center text-white"
  >
    <p>About</p>
  </main>
</BaseLayout>
