---
import BaseLayout from '../../layouts/BaseLayout.astro';
import LogoImg from '../../assets/CC_logo_no_tag.svg';
---

<BaseLayout title="Antitrust Compliance Policy">
  <header class="bg-cc-blue h-40 w-full text-white">
    <nav class="flex h-full items-center justify-between px-4 md:mx-16">
      <div class="flex h-full shrink-0 items-center pt-4">
        <a href="/">
          <img src={LogoImg.src} alt="Logo" class="h-30 w-auto" />
        </a>
      </div>
    </nav>
  </header>
  <div class="mx-8 flex flex-col justify-center py-16 md:mx-48">
    <h1 class="text-cc-cyan text-2xl md:text-4xl">
      CoreCollective Antitrust Compliance Policy
    </h1>
  </div>
  <article class="prose prose-invert mx-8 max-w-none py-16 text-left md:mx-48">
    <p>I. Introduction</p>
    <p>
      Because CoreCollecitve Members will include competitors, these activities
      are subject to antitrust laws and it is important to be able to identify
      conduct that raises concerns under antitrust laws and be sure that
      antitrust risks are avoided.
    </p>
    <p>
      All CoreCollective activities should be conducted strictly in accordance
      with all relevant antitrust laws. CoreCollective will not be involved in
      the competitive business decisions of its Members nor will it take or
      support any action that could have a restrictive effect on competition in
      violation of antitrust laws.
    </p>

    <p>II. Membership and participation policies</p>
    <p>
      The requirements for CoreCollective Membership and participation should be
      transparent, proportionate and non-discriminatory, and based on objective
      standards.
    </p>
    <ul>
      <li>
        Decisions about allowing particular entities to join or participate
        should not be based, in whole or in part, on the competitive or
        commercial interests of other actual or potential Members. The
        commercial interests of the Members should never be part of any
        discussion of actual or potential Membership or participation by other
        firms.
      </li>
      <li>
        Membership and participation should not be conditioned on past or future
        competitive commercial behaviour by the prospective Member or
        participant.
      </li>
      <li>
        Any denial of a right to join or participate by any person or entity
        should be subject to a formal appeal process to the Governing Board.
      </li>
    </ul>

    <p>III. Meetings and communications</p>
    <p>
      Members should avoid discussing topics that are unrelated to
      CoreCollective or its purposes. These guidelines apply equally to formal
      meetings and social gatherings.
    </p>
    <ul class="space-y-2">
      <li>
        Members and their representatives must not discuss with others their
        pricing policies, terms or conditions of sale, distribution, production,
        customers, credit terms or marketing practices or any other commercially
        sensitive information.
      </li>
      <li>
        There should be no communications regarding individual company dealings
        with suppliers or customers.
      </li>
      <li>
        The group should not act to restrict any entity from gaining access to a
        market or customer or from freely purchasing or selling products or
        services, nor should it discuss any such actions.
      </li>
      <li>
        Discussions among Members of business or competitive issues in social
        groups or otherwise outside the meeting itself should be avoided.
      </li>
    </ul>

    <p>IV. Standard setting activities</p>
    <p>
      To the extent that Members develop and implement standards (recommended
      protocols, solutions, methods, configurations of products, etc.),
      compliance with such standards is voluntary.• Members should not be
      compelled, directed or coerced to refrain from innovation (either inside
      or outside of any agreed upon standards) by CoreCollective's committees or
      Working Groups, or its individual Members.
    </p>
    <ul>
      <li>
        Any standards or specifications developed or approved by the Member
        should be based solely and exclusively upon technical considerations and
        the merits of objective expert judgments and thorough evaluation
        procedures. Such standards or specifications should in no way be based
        upon any effort, intention or purpose of any Member or combination of
        Members to reduce or eliminate competition in the sale, supply or
        furnishing of products or services.
      </li>
      <li>
        No single Member or any combination of its Members should impose special
        sanctions for the violation of standards or specifications developed,
        promulgated, recognised or approved by CoreCollective.
      </li>
      <p>
        These are general guidelines, and each Member should consult with its
        own legal counsel on issues related to participation, licensing, IP
        rights and other competitively sensitive issues raised by its membership
        of CoreCollective.
      </p>
    </ul>

    <p>V. Competition</p>
    <p>
      Nothing contained in this policy should be construed to prohibit or limit
      a Member from making, using, selling, marketing, or promoting products
      that do not embody or make use of CoreCollective's software. Members are
      not required to exclusively use, announce, or promote CoreCollective's
      tools or specifications. In avoidance of doubt, Members remain free to
      engage in the following conduct:
    </p>
    <ul>
      <li>
        design, develop, manufacture, acquire or market competitive software or
        specifications.
      </li>
      <li>
        join or participate in any other associations, including competitive
        open-source organisations.
      </li>
      <li>
        decide whether or not to utilise CoreCollective developments in their
        business operations and to what extent.
      </li>
    </ul>

    <p>VI. Conduct of Meetings</p>
    <p>
      Members should make best efforts to adhere to prepared agendas for all
      CoreCollective meetings.
    </p>
    <ul>
      <li>
        Members should insist that meeting minutes be prepared and made
        available to all participants, and object whenever meeting minutes do
        not accurately reflect the matters that transpired.
      </li>
      <li>
        Members should report any violations of this Policy concerning
        CoreCollective's activities to Linaro's Chief Operating Officer.
      </li>
    </ul>

    <p>
      This Policy is not intended to be legal advice. Members assume
      responsibility to provide appropriate legal counsel to their
      representatives regarding compliance with this policy.
    </p>

    <hr class="border-white/10" />
  </article>
</BaseLayout>
