---
import BaseLayout from '../../layouts/BaseLayout.astro';
import LogoImg from '../../assets/CC_logo_no_tag.svg';
---

<BaseLayout title="Charter">
  <div class="mx-8 flex flex-col justify-center py-16 md:mx-48">
    <h1 class="text-cc-cyan text-2xl md:text-4xl">CoreCollective Charter</h1>
  </div>
  <article class="prose prose-invert mx-8 max-w-none py-16 text-left md:mx-48">
    <h3>1) Mission of CoreCollective</h3>
    <p>
      The mission of CoreCollective is to provide the collaboration
      infrastructure for the Arm Software ecosystem that enables companies to
      work together on common goals.
    </p>
    <p>CoreCollective accomplishes this mission by:</p>
    <ol type="a">
      <li>
        Hosting Working Groups which are formed to tackle specific shared
        opportunities and problems
      </li>
      <li>
        Define and manage engineering projects to enhance and maintain common
        software components
      </li>
      <li>
        Create industry standards for interoperability between components in the
        Arm software stack
      </li>
      <li>
        Providing governance and maintainership for key software components.
      </li>
      <li>
        Enable and assist members in deploying Arm technology by providing
        pathways for adoption
      </li>
      <li>
        Establish best practices for deploying and maintaining Arm products that
        complies with industry regulations
      </li>
      <li>
        Strengthen efforts in the Open Source ecosystem on Arm by sponsoring and
        participating in relevant conference and marketing events.
      </li>
      <li>Participation in and contribution to Open Source Projects</li>
    </ol>

    <h3>2) Definitions</h3>
    <ul>
      <li>
        The HOST is the organization hosting CoreCollective to provide it with
        management, IT, marketing and financial resources
      </li>
      <li>
        MEMBERS are companies and individuals who have signed the membership
        agreement and have been accepted by CoreCollective
      </li>
      <li>
        SPONSORING MEMBERS are members who are financially supporting one or
        more working group initiatives.
      </li>
      <li>
        A WORKING GROUP is a discussion forum made up of 2 or more members to
        address a specific need.
      </li>
      <li>
        An INITIATIVE is a budgeted activity created by a WORKING GROUP and
        funded by SPONSORING MEMBERS
      </li>
      <li>
        The GOVERNING BOARD is the group responsible for overall oversight of
        the FORUM as set forth below.
      </li>
      <li>
        The TECHNICAL ADVISORY COMMITTEE (TAC) is the body responsible for
        WORKING GROUP oversight
      </li>
    </ul>

    <h3>3) Membership</h3>
    <ol type="a">
      <li>
        CoreCollective membership is free, only requiring a signed copy of the
        membership agreement. Membership is required to participate in
        CoreCollective Working Groups.
      </li>
      <li>
        Members are classified as General Members, Sponsoring Members, and
        Individual Members.
      </li>
      <li>
        All Members will be entitled to participate in general meetings,
        initiatives, events and any other activities as appropriate; and to
        identify themselves as members of CoreCollective.
      </li>
      <li>
        In addition to the other rights set forth in this Charter, Sponsoring
        Members will each benefit from:
      </li>
      <ol type="i">
        <li>
          For each sponsored Working Group, enjoy prominent placement in
          displays of membership logos
        </li>
      </ol>

      <li>Terminating membership</li>
      <ol type="i">
        <li>
          The member may terminate their membership at any time by submitting a
          request in writing.
        </li>
        <li>
          The Governing Board may terminate membership of any member for
          breaching the terms of their membership agreement with a two-thirds
          majority vote.
        </li>
        <li>
          When the membership agreement or charter is updated, CoreCollective
          may require all members to accept the new documents. The Governing
          Board may terminate membership for any member who does not agree to
          the new terms 3 months after being notified in writing of the updated
          terms.
        </li>
      </ol>
    </ol>

    <h3>4) Working Groups</h3>
    <ol type="a">
      <li>
        Working Groups are the primary mechanism by which areas of interest are
        discussed and courses of actions are decided
      </li>
      <li>Working groups are created by submitting a proposal to the TAC.</li>
      <ol type="a">
        <li>A Working Groups proposal must include:</li>
        <ol type="i">
          <li>A statement of the purpose of the Working Group</li>
          <li>the person/people who will initially chair the Working Group</li>
          <li>a list of desired members</li>
        </ol>
      </ol>
      <li>
        Members may join any active working group, except for
        <ol type="a">
          <li>
            groups that have special approval from the TAC to have restricted
            membership.
          </li>
        </ol>
      </li>
      <li>
        The working group chair(s) are responsible for defining how the working
        group operates, including,
      </li>
      <ol type="a">
        <li>Defining working group goals</li>
        <li>Setting meeting frequencies and agendas</li>
        <li>Publishing of minutes and actions</li>
        <li>Setting up sub committees</li>
        <li>
          Advancing the working group through the working group lifecycle as
          defined herein
        </li>
      </ol>
      <li>
        Working Groups use the following lifecycle model to guide it through the
        creation process, into active discussion, and finally archiving when the
        work of the group is complete. The Working Group Lifecycle consists of:
      </li>
      <ol type="a">
        <li>
          Investigation - At the investigation phase, a member notifies the TAC
          that it would like to create a new working group, and CoreCollective
          provides resources (web page, video conference support, mailing list)
          to start discussion. In the investigation phase the working group
          needs to refine the problem statement and recruit at least one other
          member to participate.
        </li>
        <li>
          Incubation - When the problem statement is defined, and the desired
          membership is determined, the group will apply to the TAC to enter
          into Incubation. Once approved, CoreCollective will provide support to
          the working group in the form of a community manager that helps the
          chair(s) to set up a successful group. The initial chair(s) will be
          appointed by the TAC. At this stage the group begins to actively
          discuss the problem at hand, and recruit additional members. Group is
          advertised to the CoreCollective membership through internal
          communications.
        </li>
        <li>
          Active - When the group has attracted sufficient members to be viable
          and is having fruitful discussion, it enters the active phase where it
          can continue meeting as long as is necessary. The chair(s) of the
          working group is selected by the members on an annual basis. The group
          will be run by the chair(s) with support from a CoreCollective
          community manager. In the active phase a group is responsible to
          provide an activity report to the TAC on a biannual basis. The group
          is listed publicly in the CoreCollective active WG roll
        </li>
        <li>
          Archived/Transferred - When meaningful discussion in the group tapers
          off, the group moves to a different organization, or if the group
          never exits the incubation phase, then it becomes archived. Any web
          pages, communication channels, or other assets of the group are marked
          as archived and the working group is no longer listed as active in the
          CoreCollective active WG roll.
        </li>
      </ol>
      <li>
        By default, working groups are discussion forums using basic committee
        rules. They do not have a budget nor are required to hold any formal
        votes. Each group can adapt their process as they see fit provided that
        they follow the Code of Conduct and assume responsibility for any costs
        or expenses incurred.
      </li>
      <li>
        To justify continuation and remain active, working groups must provide a
        simple quarterly report to the TAC.
      </li>
      <li>
        Optionally, if the working group needs to fund engineering activity, it
        can create initiatives as described below.
      </li>
    </ol>

    <h3>5) Initiatives</h3>
    <ol type="a">
      <li>Any working group may choose to start an initiative</li>
      <li>To create an initiative, the following process is used:</li><ol
        type="a"
      >
        <li>
          A Working Group chooses to investigate a specific initiative. An
          initiative must have a clear goal of what it is intending to achieve.
          E.g., an initiative could be created to maintain an Open Source
          Software project, or to test a software stack, or to enable new
          technology/standards.
        </li>
        <li>
          CoreCollective Community Managers will guide working group through
          estimating the level of effort, the funding required, and selecting a
          vendor.
        </li>
        <li>
          CoreCollective will also provide the working group with fund raising
          options, typically in the form of recommended sponsorship levels,
          degree of influence associated with each level, and minimum level of
          funding required to be viable.
        </li>
        <li>
          The Working Group chooses the fund raising model <sup>1</sup>. The
          chair leads the discussion and makes the final decision on fund
          raising model to be used. <sup>2</sup>
        </li>
        <li>
          Fund raising begins and members may choose to sponsor the Working
          Group.
        </li>
        <li>
          When minimum funding is achieved, CoreCollective engages the vendor(s)
          to begin work.
        </li>
        <li>
          If minimum funding is not achieved within 6 months after fund raising
          begins, or if a suitable vendor cannot be engaged within 3 months of
          minimum funding secured, then the initiative will be deemed terminated
          and any funds collected shall be, at the sponsoring member's option,
          either reallocated to another initiative or returned.
        </li>
      </ol>
      <li>
        Initiatives remain active until either the sponsoring members agree to
        terminate it, or the committed funding drops below the minimum level
        required. At which point the following wind down procedure is followed:
        <ol>
          <li>
            The working group is notified that the initiative is being wound
            down
          </li>
          <li>
            Any remaining collected funds are used on initiative priorities
            until they are exhausted, or if agreed by sponsoring members,
            reallocated to another initiative
          </li>
        </ol>
      </li>
      <li>
        CoreCollective will manage the relationship between the working group,
        and the vendor(s) supplying the engineering activity
      </li>
      <li>
        The Sponsoring Members of the Working Group will be responsible to set
        the initiative budget
      </li>
    </ol>

    <section class="italic">
      <p><sup>1</sup> Fundraising model template is attached as appendix A</p><p
      >
        <sup>2</sup>While the chair is encouraged to consult with the WORKING
        GROUP members on fund raising structure, they do not need a vote of
        approval from the members. Members will choose whether to sponsor and at
        what level based on whether the chosen structure works for them.
        Therefore, the chair is incentivised to choose a structure that works
        for the whole group.
      </p>
    </section>

    <h3>6) Sponsoring Members</h3>
    <ol type="a">
      <li>
        Sponsoring Members are members who choose to provide funding to one or
        more Working Group Initiatives
      </li>
      <li>
        Members are not required to provide sponsorship to participate in a
        working group
      </li>
      <li>
        Sponsoring members choose which initiatives to sponsor, and the level of
        sponsorship.
      </li>
      <li>
        Sponsoring Members may change their sponsorship levels by submitting an
        updated sponsorship form CoreCollective, and providing that:
      </li>
      <ol type="a">
        <li>
          The Sponsoring Member gives CoreCollective three months notice, and
        </li>
        <li>
          The Sponsoring Member has completed all commitments associated with a
          sponsorship tier for the working group
        </li>
      </ol>
    </ol>

    <h3>7) Governing Board</h3>
    <ol type="a">
      <li>
        The Host will appoint an interim governing board at the start of
        CoreCollective
      </li>
      <li>
        The Governing Board will form a governance advisory committee within 3
        months of the start of CoreCollective to review the governance
        structure. The governance advisory committee will provide feedback and
        recommendations on Governance Board composition before the end of the
        first year of operation
      </li>
      <li>Responsibilities of the Governing Board:</li>
      <ol type="i">
        <li>
          approve periodic budgets directing the use of CoreCollective funds;
        </li>
        <li>
          elect a Chair of the Governing Board, from time to time, to preside
          over meetings
        </li>
        <li>authorise non-budgeted expenditures in excess of $5,000;</li>
        <li>
          define procedures for the nomination and election of the
          representatives to the Board;
        </li>
        <li>vote on decisions or matters before the Board;</li>
        <li>
          oversee all non-technical business, security and marketing matters;
        </li>
        <li>
          determine if required, and define, create and oversee any other
          committees to further CoreCollective;
        </li>
        <li>
          adopt and maintain other policies, rules or procedures for
          CoreCollective(subject to Hosting Organization's approval) as
          appropriate, such as a Code of Conduct or any certification policies.
        </li>
      </ol>
      <li>
        The Governing Board may, subject to approval by the hosting
        organization, designate officer positions, set procedures for the
        election of any such officer, or create other positions (e.g., director)
        within CoreCollective. Any hiring decisions with respect to such
        positions, are subject to approval by the hosting organization.
      </li>
    </ol>

    <h3>8) Conduct of Board / Sub-committee Meetings:</h3>
    <ol type="a">
      <li>
        Board meetings will be limited to the Board representatives and follow
        the requirements for quorum and voting outlined in this Charter. The
        Board may allow invited guests to attend Board meetings as observers.
      </li>
      <li>
        Should a Board Representative be unable to attend, they may designate a
        named delegate to act on their behalf, including any voting
        responsibilities and commitments. The name of the Delegate shall be
        provided to the Board Meeting organiser at least 24 hours prior to the
        start of the meeting.
      </li>
      <li>
        Board meetings will be confidential unless approved by the Board. The
        Board should encourage transparency, including the publication of
        non-confidential minutes within a reasonable time following their
        approval.
      </li>
      <li>
        Where deemed necessary, the governing board may form additional
        sub-committees. These will each be governed by their own representatives
        and follow the guidelines of this section.
      </li>
      <li>
        Meeting agendas and any supporting content shall be provided a minimum
        of one(1) working day prior to the meeting.
      </li>
    </ol>

    <h3>9) Quorum and Voting</h3>
    <ol type="a">
      <li>
        Quorum for Board or Sub-committee meetings requires two-thirds of the
        voting representatives of the Governing Board present either in-person
        or via electronic means. The Board may continue to meet if quorum is not
        met, but will not make any binding decisions at the meeting.
      </li>
      <li>
        It is the goal of CoreCollective to operate as a consensus-based
        community. If any decision requires a vote to move forward, the
        representatives of the Board or any other committees established within
        CoreCollective will vote on a one vote per representative basis.
      </li>
      <li>
        Except as provided in section 11(a), decisions by vote will be based on
        a majority vote of the voting representatives present either in-person
        (including video conference) or via electronic means.
      </li>
      <li>
        In the event of a tie vote with respect to an action by the Board or
        other Sub-committee established within the CoreCollective, the Chair of
        the Board or such Sub-committee will submit a tie-breaking vote.
      </li>
      <li>
        The Chair of the Board or other Sub-committee established within
        CoreCollective, as applicable, may conduct any vote using an appropriate
        electronic voting mechanism. In the case of an electronic vote where the
        topic has not been previously discussed in a meeting, if any two voting
        representatives object to the electronic vote, the topic will be put
        onto the agenda at the next meeting at which point the decision may then
        be put up for a vote.
      </li>
    </ol>

    <h3>10) Antitrust Guidelines</h3>
    <ol type="a">
      <li>
        All members shall abide by the Antitrust Compliance Policy available at:
        <a
          class="text-cc-cyan"
          href="http://corecollective.dev/antitrust-policy"
          >http://corecollective.dev/antitrust-policy</a
        >
      </li>
      <li>
        All CoreCollective members will encourage open participation from any
        organisation able to meet the membership requirements, regardless of
        competitive interests. The Board will not seek to exclude members based
        on any criteria, requirements or reasons other than those used for all
        members.
      </li>
    </ol>

    <h3>11) Budget</h3>
    <ol type="a">
      <li>
        The Board will approve an annual budget and never commit to spend in
        excess of funds raised.
      </li>
      <li>
        The HOST will provide the Board with regular reports of expenditure
        against the budget. In no event will HOST have any obligation to
        undertake any action on behalf of CoreCollective or otherwise related to
        CoreCollective that will not be covered in full by funds raised by
        CoreCollective. In the event that any unbudgeted or otherwise unfunded
        obligation arises related to CoreCollective, HOST will liaise with the
        Board to address funding the gap or alternative mitigating actions.
      </li>
    </ol>

    <h3>12) Treasury and Expenses</h3>
    <ol type="a">
      <li>
        The HOST will have custody of and final authority over the usage of any
        funds and other cash receipts.
      </li>
      <li>
        The HOST will charge CoreCollective expenses incurred on a monthly basis
        covering accounting, legal, operational and infrastructure costs. The
        HOST will not contract with third-parties, on behalf of the project,
        without prior approval by the Board.
      </li>
    </ol>

    <h3>13) IP Policy and Licensing</h3>
    <ol type="a">
      <li>
        Anyone may participate in and contribute to any technical codebase
        hosted by CoreCollective regardless of membership status and subject to
        any contribution guidelines and code of conduct as identified in this
        charter.
      </li>
      <li>
        All new inbound code contributions to CoreCollective will be made under
        an OSI approved license (see <a
          class="text-cc-cyan"
          href="https://spdx.org/licenses/">https://spdx.org/licenses/</a
        >) accompanied by a Developer Certificate of Origin sign-off (<a
          class="text-cc-cyan"
          href="http://developercertificate.org"
          >http://developercertificate.org</a
        >);
      </li>
      <li>
        All outbound code will be made available under one or more of
        CoreCollective's OSI approved inbound licenses, except for code included
        from other projects, in which case the original license text will be
        included in the source files. These exceptions and the related license
        terms will be listed in the project code documentation.
      </li>
      <li>
        Importing additional code into a hosted codebase from other projects
        that do not use an OSI approved license will be subject to approval by
        the Board.
      </li>
      <li>
        Contributed documentation will be received and made available by the
        Project under the Creative Commons Attribution 4.0 International License
        <a
          class="text-cc-cyan"
          href="http://creativecommons.org/licenses/by/4.0/"
          >http://creativecommons.org/licenses/by/4.0/</a
        >
      </li>
      <li>
        The Board will determine whether any trademarks should be registered
        relating to the Project, and any such trademarks will be held by the
        HOST.
      </li>
    </ol>

    <h3>14) Technical Advisory Committee (TAC)</h3>
    <ol type="a">
      <li>
        The Board will establish a Technical Advisory Committee. The TAC will be
        responsible for oversight of the working groups, the membership process,
        and liaison with the technical community. The TAC and Board are expected
        to operate independently although the TAC will report to and advise the
        Board as appropriate.
      </li>
      <li>
        The TAC members shall consist of representatives appointed by the
        Governing Board from nominations provided by the membership.
      </li>
      <li>
        The Governing Board shall appoint a TAC Chair, who will be a voting
        member of the Governing Board and will be expected to act as a liaison
        between the Board and technical leadership of the forum. The TAC is
        considered a sub-committee.
      </li>
      <li>The TAC shall also be responsible for:</li>
      <ol type="i">
        <li>
          determining the appropriate size and membership composition of the
          TAC, from time to time, to include member representation, and as
          appropriate maintainers, contributors and other technical experts from
          the community:
        </li>
        <li>coordinating the technical priorities;</li>
        <li>
          approving individual Working Groups according to the Working Group
          lifecycle documented in this charter;
        </li>
        <li>
          communicating with external and industry organisations concerning
          CoreCollective technical matters;
        </li>
        <li>
          appointing representatives to work with other open source or open
          standards communities;
        </li>
        <li>
          subject to the approval of the Board, creating and amending, as may be
          required from time to time, process documents, which outline and
          describe the procedures for, inter alia, contributing to, maintenance
          of, and auditing of the audited (secure) codebase;
        </li>
      </ol>
    </ol>

    <h3>15) Code of Conduct</h3>
    <ol type="a">
      <li>
        Member agrees to abide by the CoreCollective's code of conduct policy
        available at <a
          class="text-cc-cyan"
          href="https://corecollective.dev/coc"
          >https://corecollective.dev/coc</a
        >
      </li>
    </ol>

    <h3>16) Amendments</h3>
    <ol type="a">
      <li>
        This charter and the CoreCollective membership agreement may be amended
        by the Governing board by not less than a two-thirds vote of the total
        voting representatives, subject to approval by the HOST.
      </li>
    </ol>

    <hr class="border-white/10" />

    <h4>Appendix A</h4>
    <p>Initiative Fundraising Model Template</p>
    <p>
      The _______________ Working Group uses the following fundraising model.
    </p>
    <p>
      Members can support this initiative with financial sponsorship for any
      amount, and for any duration. Sponsors who commit to sponsorship above the
      following thresholds have greater influence over the priorities of the
      working group and receive more prominent recognition of their
      contributions.
    </p>
    <p>
      Votes assigned to members are for decisions related to initiative funding
      allocation. Initiative voting rights do not carry over to voting on the
      priority of the Working Group discussion forum.
    </p>
    <p class="italic">
      Example funding structure. Modify to reflect chosen model and delete this
      comment
    </p>
    <table>
      <tr>
        <th style="white-space: nowrap;">Sponsorship Tier</th>
        <th>Criteria </th>
        <th>Benefits </th>
      </tr>
      <tr>
        <td>Premier</td>
        <td>Commit to sponsoring $aaa/year or more for a minimum of 2 years</td>
        <td>
          <p>2 votes on initiative priorities</p>
          <p>
            Dedicated effort towards member's priorities for all funding beyond
            $250k/year
          </p>
          <p>
            Most prominent placement of logo on working group marketing
            materials
          </p>
        </td>
      </tr>
      <tr>
        <td>Gold</td>
        <td>$bbb/year or mor</td>
        <td>
          <p>1 vote on initiative priorities</p>
          <p>Logo listed on second level of membership roll</p>
        </td>
      </tr>
      <tr>
        <td>Silver</td>
        <td> $ccc/year</td>
        <td>
          <p>1 aggregate vote shared among each 4 silver members</p><p>
            Logo listed on third level of membership roll
          </p>
        </td>
      </tr>
      <tr>
        <td>Supporter</td>
        <td>$ddd/year or more</td>
        <td>Logo listed on project page in least prominent position</td>
      </tr>
    </table>
    <hr class="border-white/10" />
  </article>
</BaseLayout>
<style>
  td,
  th {
    padding: 10px;
  }
</style>
