---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import Contact from '../components/Contact.astro';
import Members from '../components/Members.astro';
import backgroundImage from '../assets/52dad6ed54df0213f77fdc794d6d29be3972009c.png';
import logo from '../assets/CC_logo_no_tag.svg';
---

<BaseLayout title="Core Collective">
  <div
    class="bg-cc-blue w-full bg-[linear-gradient(to_bottom,transparent_0%,#000000_50%,transparent_100%)]"
  >
    <div
      class="mx-auto mt-8 mb-24 flex h-full w-4/5 flex-col items-center justify-center gap-8 md:mt-24 md:mb-64"
    >
      <Image src={logo} alt="logo" class="w-full md:w-1/2" />
      <h1 class="text-2xl md:text-4xl">
        Where the Arm software ecosystem connects
      </h1>
      <h3 class="text-cc-cyan max-w-3xl text-base md:text-xl">
        CoreCollective is an open collaborative forum for the Arm Ecosystem,
        designed to accelerate innovation through shared software tools and
        standards that power every Arm system from cloud to edge.
      </h3>
    </div>
  </div>
  <div
    class="bg-cc-blue flex w-full flex-col gap-16 bg-cover bg-center bg-no-repeat py-32"
    style={{
      backgroundImage: `url(${backgroundImage.src})`,
    }}
  >
    <Members />
    <Contact />
  </div>
</BaseLayout>
