---
import BaseLayout from '../layouts/BaseLayout.astro';
import Logo from '../components/Logo.astro';
import backgroundVideo from '../assets/0_Abstract_Digital_4096x2304.mp4';
---

<BaseLayout title="Coming Soon">
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute top-0 left-0 -z-20 h-full w-full object-cover"
  >
    <source src={backgroundVideo} type="video/mp4" />
  </video>

  <div
    class="absolute top-0 left-0 -z-10 h-full w-full bg-gradient-to-b from-[#080225]/0 via-[#080225] to-[#080225]/0"
  >
  </div>

  <main
    class="flex h-screen flex-col items-center justify-center p-4 text-center text-white"
  >
    <div class="mb-16 flex flex-col items-center">
      <Logo width={600} />
    </div>

    <div
      class="mx-64 space-y-4 text-4xl font-light tracking-wider text-[#02eaea]"
    >
      <p class="pb-8">
        CoreCollective is an open collaborative forum for the Arm Ecosystem.<br
        />
        Its mission is to accelerate the Arm ecosystem through open collaboration,
        enabling<br /> shared software tools, and standards that power every Arm system,
        from cloud to edge.
      </p>
      <p class="tracking-widest">// COMING SOON</p>
    </div>
  </main>
</BaseLayout>
