---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import Contact from '../components/Contact.astro';
import Members from '../components/Members.astro';
import backgroundImage from '../assets/52dad6ed54df0213f77fdc794d6d29be3972009c.png';
import logo from '../assets/CC_logo_no_tag.svg';
---

<BaseLayout title="Core Collective">
  <div
    class="w-full bg-cc-blue bg-[linear-gradient(to_bottom,transparent_0%,#000000_50%,transparent_100%)]"
  >
    <div
      class="mx-auto flex h-full w-3/5 flex-col justify-center items-center gap-8 mt-8 mb-24 md:mt-24 md:mb-64"
    >
      <Image src={logo} alt="logo" class="md:w-1/2 w-full" />
      <h1 class="text-2xl md:text-4xl">
        Where the Arm Ecosystem builds intelligence<br /> efficiently, <span
          class="text-cc-cyan italic">together</span
        >
      </h1>
      <h3 class="text-base text-cc-cyan md:text-xl">
        //CoreCollective is an open collaborative forum for the Arm <br
        />Ecosystem. Its mission is to accelerate the Arm ecosystem <br
        />through open collaboration, enabling shared software tools, and <br
        />standards that power every Arm system, from cloud to edge.
      </h3>
    </div>
  </div>
  <div
    class="flex w-full flex-col gap-16 bg-cc-blue bg-cover bg-center bg-no-repeat py-32"
    style={{
      backgroundImage: `url(${backgroundImage.src})`,
    }}
  >
    <Members />
    <Contact />
  </div>
</BaseLayout>
