---
import BaseLayout from '../layouts/BaseLayout.astro';
import Logo from '../components/Logo.astro';
import { Image } from 'astro:assets';
import backgroundImage from '../assets/0233f2c4c9a0817f3a88064a357678647bb97e85.png';
---

<BaseLayout title="Coming Soon">
  <Image
    src={backgroundImage}
    alt="Background"
    quality="high"
    class="absolute top-0 left-0 -z-20 h-full w-full object-cover"
  />

  <div
    class="from-cc-blue/0 via-cc-blue to-cc-blue/0 absolute top-0 left-0 -z-10 h-full w-full bg-linear-to-b"
  >
  </div>

  <main
    class="flex h-screen flex-col items-center justify-center p-4 text-center text-white"
  >
    <div
      class="mb-8 flex w-full max-w-100 flex-col items-center md:mb-8 md:max-w-none"
    >
      <Logo width={800} />
    </div>

    <div
      class="text-cc-cyan mx-auto space-y-4 text-lg font-light tracking-wider md:mx-48 md:text-xl lg:text-2xl"
    >
      <p class="pb-4 md:pb-8">
        CoreCollective is an open collaborative forum for the Arm Ecosystem.
        <br class="hidden md:inline" />
        designed to accelerate innovation through shared software tools and standards
        <br class="hidden md:inline" />
        that power every Arm system from cloud to edge
      </p>

      <p class="tracking-widest">// COMING SOON</p>
    </div>
  </main>
</BaseLayout>
