---
import BaseLayout from '../layouts/BaseLayout.astro';
import Logo from '../components/Logo.astro';
import backgroundVideo from '../assets/0_Abstract_Digital_4096x2304.mp4';
import Contact from '../components/Contact.astro';
import Members from '../components/Members.astro';
---

<BaseLayout title="Core Collective">
  <div
    class="h-200 w-full bg-[#080225] bg-[linear-gradient(to_bottom,transparent_0%,#000000_50%,transparent_100%)]"
  >
    <div class="mx-auto flex h-full w-3/5 flex-col justify-center gap-24">
      <h1 class="text-2xl md:text-4xl">
        <span class="text-[#02EAEA]">CoreCollective,</span> Where the Arm Ecosystem
        builds intelligence efficiently, <span class="text-[#02EAEA] italic"
          >together</span
        >
      </h1>
      <h3 class="text-lg text-[#02EAEA] md:text-xl">
        //CoreCollective is an open collaborative forum for the Arm Ecosystem.
        Its mission is to accelerate the Arm ecosystem through open
        collaboration, enabling shared software tools, and standards that power
        every Arm system, from cloud to edge.
      </h3>
    </div>
  </div>
  <Members />
  <Contact />
</BaseLayout>
