---

---

<div class="flex h-100 w-full flex-col items-center justify-evenly px-8">
  <h1 class="text-2xl text-[#02EAEA] md:text-5xl">Contact Us</h1>
  <h2 class="text-lg md:text-2xl">
    To learn more about how you can get started with the CoreCollective,<br /> contact
    us at <a href="mailto:enquiries@corecollective.dev" class="underline"
      >enquiries@corecollective.dev</a
    >
  </h2>
</div>
