---
import '../styles/global.css';
import Navbar from '../components/nav/Navbar';
import Footer from '../components/nav/Footer';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/CC_logo_fav_32_px.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{'Core Collective - ' + title}</title>
  </head>
  <body class="bg-cc-blue --font-sans flex min-h-screen flex-col">
    <Navbar client:load />
    <main
      class="bg-cc-blue flex grow flex-col items-center justify-center text-center text-white"
    >
      <slot />
    </main>
    <Footer client:load />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
    }
  </style>
</html>
